# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
appsettings.Development.json
appsettings.*.json

# If you want to keep main config tracked, comment out this:
# appsettings.json

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/
packages/

# =========================
# Publish output
# =========================
publish/
*.publishsettings

# =========================
# IIS Express
# =========================
iisexpress/

# =========================
# Test Results
# =========================
TestResults/
*.trx
*.coverage
*.coveragexml

# =========================
# Resharper
# =========================
_ReSharper*/
*.DotSettings.user

Backend/src/Db/db.sqlite*
Backend/src.Tests/TestResults/